body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.productItem {
  margin: 10px 0;
  border: 1px solid black;
}

.cartItem {
  margin: 10px 0;
  border: 1px solid black;
}

.orderItem {
  margin: 10px 0;
  border: 1px solid black;
}

.productItem img {
  width: 100px;
}

.cartItem img {
  width: 100px;
}

.userItem {
  margin: 10px 0;
  border: 1px solid black;
}

.userItem img {
  width: 100px;
}

.userList{
  display: flex;
  flex-wrap: wrap;
}
/* //need to make generic list and item styles with uesr and product compliments!!! */

.userView {
  margin: 10px 0;
  border: 1px solid black;
  width: auto;
}

.orderList{
  display: flex;
  flex-direction: column;
}
/* //need to make generic list and item styles with uesr and product compliments!!! */
