body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

a {
  font-size: 1.68712364em;
}

label {
  display: block;
}

.sidebar {
  border-right: white;
}

.cartItem {
  display: flex;
  justify-content: space-around;
  min-height: 75px;
  max-height: 55px;
  margin: 15px 5px;
  padding: 7px;
  border: 3px solid teal;
}
.reviewList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.authForm {
  display:  run-in;
}

.navLinks {
  margin-left: auto;
}

.searchBar {
  flex-grow: auto;
}

.navBar {
  background-color: #696969;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.allProds {
  color: white;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

.logo img {
  width: 100px;
  margin: 15px;
}

.googlelink {
  color: white;
}
.title {
  color: white;
  text-decoration: underline #4083c4;
}

.link {
  text-decoration: underline;
}

.ui.google.plus.button {
    background-color: #dd4b39;
    color: #fff;
    margin-left: 15px;
}

.reviewentry {
  margin-top: 3px;
  padding: 7px;
  border: 3px solid #2285d1;
  border-radius: 5px;
}

h1 {
  font-size: 3em;
  margin: 10px;
}

h3 {
  font-size: 1em;
  margin: 10px;
}

p {
  font-size: 1em;
  margin: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productItem {
  flex: 1;
  min-width: 300px;
  max-width: 420px;
  margin: 15px 5px;
  padding: 7px;
  border: 3px solid teal;
}

.cartItem {
  margin: 10px 0;
  border: 1px solid black;
}

.orderItem {
  margin: 10px 0;
  border: 1px solid black;
}

.productItem img {
  width: 100px;
}

.cartItem img {
  width: 100px;
}

.userItem {
  margin: 10px 0;
  border: 1px solid black;
}

.userItem img {
  width: 100px;
}

.userList {
  display: flex;
  flex-wrap: wrap;
}

/* //need to make generic list and item styles with user and product compliments!!! */

.userView {
  margin: 10px 0;
  border: 1px solid black;
  width: auto;
}

.orderList {
  display: flex;
  flex-direction: column;
}

/* //need to make generic list and item styles with uesr and product compliments!!! */

.leftBar {
  border: 2px solid teal;
  width: 150px;
  height: 100%;
  flex: 1;
}

.contentWrapper {
  display: flex;
}

.mainContent {
  flex: 7;
}

.checkout-form {
  display: flex;
  flex-direction: row;
  border: 2px solid teal;
  background-color: azure;
  justify-content: center;
}

.checkout-info {
  width: 95%;
  padding-left: 16px;
  padding-right: 16px;
}

.checkout-item {
  width: 30%;
  padding-left: 16px;
  padding-right: 16px;
}

.checkout-summary {
  padding: 16px;
}
